---
import { listExperience } from "../store/list-experiencies";
import type { ListExperience } from "../store/list-experiencies";
import LayoutGlobal from "../layouts/layout-global.astro";
import { Icon } from "astro-icon/components";
---

<LayoutGlobal title="Experiencia">
  <section class="flex flex-1 flex-col py-12">
    <h1 class="pb-6 text-4xl font-extrabold text-primary sm:text-5xl">Experiencia</h1>

    {
      listExperience.get().map((experience: ListExperience) => (
        <article class="experience-item group mt-6 flex rounded-lg bg-gray-200 p-4 shadow-lg transition-colors dark:bg-gray-800">
          <div class="relative border-l-4 border-primary pl-4">
            {/* <div
              class="absolute left-[-20px] top-1/3 flex size-10 items-center justify-center rounded-full border-4 border-primary border-l-gray-200 border-t-gray-200 bg-gray-200 dark:border-l-gray-800 dark:border-t-gray-800 dark:bg-gray-800"
              style="transform: rotate(136deg)"
            >
              <div class="absolute z-10 flex size-7 items-center justify-center rounded-full bg-primary" />
            </div> */}
            <h2 class="text-2xl font-bold">
              {experience.role} - {experience.company}
            </h2>
            <p class="text-lg text-gray-600 dark:text-gray-400">
              {experience.duration.start} - {experience.duration.end}
            </p>
            <p class="text-lg text-gray-600 dark:text-gray-400">
              <strong class="text-primary">{experience.role}</strong> {experience.description}
            </p>
            <div class="mt-4">
              <ul class="flex flex-wrap gap-2">
                {experience.skills.map((skill) => (
                  <li class="flex items-center gap-2">
                    <span class="tag">
                      <Icon name={skill.icon} class={`h-4 w-4`} />
                      {skill.name}
                    </span>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </article>
      ))
    }
  </section>
</LayoutGlobal>

<style>
  .experience-item {
    transition: all 0.3s ease-in-out;
  }
  .experience-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
