---
import LayoutGlobal from "../layouts/layout-global.astro";
import CardProyect from "../components/cards/card-proyect.astro";
import Banner from "../components/banner/banner.astro";
import { listExperience } from "../store/list-experiencies";
import type { ListExperience } from "../store/list-experiencies";
import { getLastestProject } from "../store/list-projects";

import { Icon } from "astro-icon/components";

const showExp: number = 0;
const visible = true;
const message = "Astro is awesome!";
---

<LayoutGlobal title="Inicio">
  <Banner />
  <div class="mx-auto max-w-5xl">
    <h1 class="my-16 text-4xl font-extrabold text-primary sm:text-5xl">
      Daren Salazar Hernández,
      <span class="pl-3 text-gray-800 dark:text-gray-500">
        más alla del código, desarrollando ideas
      </span>
    </h1>
    <p class="mt-8 text-lg text-gray-600 dark:text-gray-400">
      <strong class="text-primary">Desarrollador FullStack</strong> con mas de 5 años de
      <a href="/experience" class="font-bold text-primary underline">experiencia</a>
      apasionado por construir soluciones modernas e inteligentes.
    </p>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      Con experiencia en tecnologías como <strong class="text-primary">
        React.js, React Native, Vuejs 3, Astro, Tailwind CSS, TypeScript
      </strong>, y una sólida base en servicios en la nube con
      <strong class="text-primary">AWS y Azure</strong>, llevo las ideas a la realidad.
    </p>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      <strong class="text-primary">Integro</strong> funciones avanzadas de
      <strong class="text-primary">inteligencia artificial</strong>
      en aplicaciones mediante modelos LLM con métodos como
      <strong class="text-primary">RAG (Retrieval-Augmented Generation)</strong>, utilizando bases
      de datos vectoriales como OpenSearch y/o cualquier fuente de informacion para maximizar la
      relevancia y el contexto de las respuestas.
    </p>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      Mi experiencia abarca desde desarrollar <strong class="text-primary">microservicios</strong>
      con Flask y FastAPI hasta diseñar interfaces intuitivas y sistemas escalables. Me apasiona aprender
      constantemente y enfrentar nuevos retos, lo que me permite evolucionar junto con las demandas del
      mundo tecnológico. Mis soluciones no solo cumplen con los requerimientos; están diseñadas para
      elevar el estándar del producto final y
      <strong class="text-primary">maximizar su impacto</strong>.
    </p>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      ¿Buscas integrar inteligencia artificial o construir aplicaciones escalables y confiables?
      <strong class="text-primary">Contáctame</strong>, y juntos llevaremos tus proyectos al
      siguiente nivel.
    </p>
    <section class="flex flex-1 flex-col py-12">
      <h1 class="pb-6 text-4xl font-extrabold text-primary sm:text-5xl">Experiencia</h1>
      <div class="flex flex-1 gap-4">
        <ul class="h-full w-2/6 overflow-hidden border-l-4 border-primary">
          {
            listExperience.get().map((exp: ListExperience, index: number) => (
              <li class="experience-tab cursor-pointer" data-index={index}>
                <span class="block px-5 py-10">{exp.company}</span>
                <div style="width: 0px;" class="transition-all duration-300" />
              </li>
            ))
          }
        </ul>
        <div class="w-4/6">
          {
            listExperience.get().map((exp: ListExperience, index) => (
              <article
                data-index={index}
                class="experience-item slide-target mt-6 hidden rounded-lg bg-gray-200 p-4 shadow-lg transition-colors dark:bg-gray-800"
              >
                <div class="relative border-l-4 border-primary pl-4">
                  <h2 class="text-2xl font-bold">
                    {exp.role} - {exp.company}
                  </h2>
                  <p class="text-lg text-gray-600 dark:text-gray-400">
                    {exp.duration.start} - {exp.duration.end}
                  </p>
                  <p class="text-lg text-gray-600 dark:text-gray-400">{exp.description}</p>
                  <ul>
                    {exp.logros.map((logro) => (
                      <li class="text-lg text-gray-600 dark:text-gray-400">* {logro}</li>
                    ))}
                  </ul>
                  <div class="mt-4">
                    <ul class="flex flex-wrap gap-2">
                      {exp.skills.map((skill) => (
                        <li class="flex items-center gap-2">
                          <span class="tag">
                            <Icon name={skill.icon} class={`h-4 w-4`} />
                            {skill.name}
                          </span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </article>
            ))
          }
        </div>
      </div>
    </section>

    <section class="pb-12">
      <h2 class="text-4xl font-extrabold text-primary sm:text-5xl">
        <a href="/projects" class="underline">Proyectos</a> destacados
      </h2>

      <p class="mt-6 text-lg text-gray-600 dark:text-gray-400">
        Estos proyectos son los que he desarrollado en los últimos meses y son los que me siento más
        orgulloso, cada uno con su propia historia y desafíos. muchos son realizados para clientes,
        otros son proyectos personales para practicar nuevas tecnologías.
      </p>

      <div class="mt-6 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        {getLastestProject().map((project) => <CardProyect project={project} />)}
      </div>
    </section>
  </div>
</LayoutGlobal>
<script>
  const tabs: HTMLElement[] = Array.from(document.querySelectorAll(".experience-tab"));
  const tabBorder: HTMLElement[] = Array.from(document.querySelectorAll(".experience-tab div"));

  const items: HTMLElement[] = Array.from(document.querySelectorAll(".experience-item"));

  let activeIndex = 0;
  items[0].classList.remove("hidden");
  items[0].classList.add("flex");

  function updateActiveTab(index: number) {
    tabBorder.forEach((tab, i) => {
      tab.style.width = "0px";
      tab.classList.remove(
        "border-b-4",
        "border-primary",
        // "animate-fade-right",
        // "animate-duration-400",
        // "animate-delay-0",
        // "animate-ease-linear",
        // "animate-normal",
        // "animate-fill-both",
      );

      if (i == index) {
        tab.style.width = "100%";
        tab.classList.add(
          "border-b-4",
          "border-primary",
          // "animate-fade-right",
          // "animate-duration-400",
          // "animate-delay-0",
          // "animate-ease-linear",
          // "animate-normal",
          // "animate-fill-both",
        );
      }
    });
    tabs.forEach((tab, i) => {
      tab.classList.remove("font-bold");

      if (i == index) {
        tab.classList.add("font-bold");
      }
    });

    items.forEach((item) => {
      item.classList.add("hidden");
      item.classList.remove(
        "animate-fade-up",
        "animate-once",
        "animate-duration-400",
        "animate-ease-linear",
      );
    });

    const current = document.querySelector(`.experience-item[data-index="${index}"]`);
    if (current) {
      current.classList.remove("hidden");
      current.classList.add(
        "animate-fade-up",
        "animate-once",
        "animate-duration-400",
        "animate-ease-linear",
      );
    }

    activeIndex = index;
  }

  tabs.forEach((tab, index) => {
    tab.addEventListener("click", () => {
      updateActiveTab(index);
    });
  });

  updateActiveTab(0);
</script>
