---
import { navItems } from "../../../store/nav-item";
const pathname = new URL(Astro.request.url).pathname;
---

<nav
  class="flex rounded-full bg-white/90 px-3 shadow-lg shadow-gray-800/5 ring-1 ring-gray-900/5 backdrop-blur dark:bg-gray-800/90 dark:ring-white/10"
>
  <nav role="menu">
    <ul class="flex text-gray-600 dark:text-gray-400">
      {
        navItems.get().map((item, index) => (
          <li role="menuitem" tabindex={index}>
            <a
              class="block px-3 py-2 text-sm transition"
              class:list={
                pathname === item.href
                  ? "font-bold text-teal-400"
                  : "hover:text-teal-500 dark:hover:text-teal-400"
              }
              href={item.href}
              role="menuitem"
              aria-current={pathname === item.href}
              aria-label={item.name}
              tabindex={index}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</nav>
